@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* Main Styling */
body {
  font-family: "Righteous", cursive;
  color: #d14f4f;
  line-height: 1.7;
  font-size: 19px;
  background-image: url("./assets/images/space.jpg");
  background-size: cover;
  background-position: center;
}

/* Nav Styling */

.navbar {
  background-color: rgba(22, 22, 22, 0.8);
  display: flex;
  justify-content: center;
}

/* Link Styling */

.link {
  color: #efefef;
  /* display: inline-block; */
  padding: 3px 20px;
  font-size: 16px;
  text-decoration: none;
  transition: 0.3s ease all;
}

.link:hover {
  color: #f59494;
  transform: scale(1.1);
}

/* NASA photo styling */

.nasa-photo {
  display: flex;
  padding: 40px;
  margin: 0 auto;
  max-height: 100%;
}

.nasa-photo img {
  width: 50%;
  margin-right: 50px;
  object-fit: contain;
  max-height: 80vh;
}

.nasa-photo h1 {
  margin-top: 0;
  margin-bottom: 0;
}

.nasa-photo .date {
  margin-top: 0;
  margin-bottom: 30px;
}

.nasa-photo .explanation {
  color: #bbb;
}

/* MARS WEATHER */

.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*
  MEDIA QUERIES
*/

@media (max-width: 1280px) {
  .nasa-photo {
    display: block;
  }

  .nasa-photo img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.home {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.home-link {
  font-size: 24px;
  background: #f2c75c;
  display: inline-block;
  padding: 40px 80px;
  color: #000000;
  border-radius: 50%;
  text-decoration: none;
  transition: 0.3s ease all;
  text-transform: uppercase;
}

.home-link:hover {
  border-radius: 5px;
  background: #94a596;
}
